# Flight and planes analysis

## Load the data

In [2]:
import pandas as pd

planes_df = pd.read_csv('./data/planes.csv')
flights_df = pd.read_csv('./data/flights.csv')

## Joining flights and planes by tail number

In [19]:
flights_and_planes_df = pd.concat([planes_df, flights_df], axis=1, sort=False)
#flights_and_planes_df.head()
#print(flights_and_planes_df.dtypes)
print(flights_and_planes_df.shape)

(336776, 25)

## Exploring which plane manufacturers are the most popular

In [20]:
import numpy as np

df = flights_and_planes_df[['manufacturer', 'model', 'engines', 'dep_delay','arr_delay','distance']]

#print(df.shape)

flights_by_planes = df.groupby(['manufacturer']).size()

flights_by_planes.head(1000)

manufacturer
AGUSTA SPA                          1
AIRBUS                            336
AIRBUS INDUSTRIE                  400
AMERICAN AIRCRAFT INC               2
AVIAT AIRCRAFT INC                  1
AVIONS MARCEL DASSAULT              1
BARKER JACK L                       1
BEECH                               2
BELL                                2
BOEING                           1630
BOMBARDIER INC                    368
CANADAIR                            9
CANADAIR LTD                        1
CESSNA                              9
CIRRUS DESIGN CORP                  1
DEHAVILLAND                         1
DOUGLAS                             1
EMBRAER                           299
FRIEDEMANN JON                      1
GULFSTREAM AEROSPACE                2
HURLEY JAMES LARRY                  1
JOHN G HESS                         1
KILDALL GARY                        1
LAMBERT RICHARD                     1
LEARJET INC                         1
LEBLANC GLENN T                     1
MARZ BARRY                          1
MCDONNELL DOUGLAS                 120
MCDONNELL DOUGLAS AIRCRAFT CO     103
MCDONNELL DOUGLAS CORPORATION      14
PAIR MIKE E                         1
PIPER                               5
ROBINSON HELICOPTER CO              1
SIKORSKY                            1
STEWART MACO                        2
dtype: int64

# Analyzing flight data of the most popular planes

In [29]:
most_popular_manufactorers = ['AIRBUS', 'AIRBUS INDUSTRIE', 'BOEING', 'BOMBARDIER INC', 'EMBRAER', 'MCDONNELL DOUGLAS', 'MCDONNELL DOUGLAS AIRCRAFT CO', 'MCDONNELL DOUGLAS']

df = flights_and_planes_df

flights_of_most_popular_planes = df.loc[df['manufacturer'].isin(most_popular_manufactorers)]

flights_by_planes = flights_of_most_popular_planes.groupby(['manufacturer'])

#flights_by_planes.describe()

                                 year                                         \
                                count         mean       std     min     25%
manufacturer
AIRBUS                          328.0  2007.201220  3.649272  2002.0  2004.0
AIRBUS INDUSTRIE                390.0  1998.233333  3.426708  1989.0  1997.0
BOEING                         1603.0  2000.144105  7.008365  1965.0  1996.0
BOMBARDIER INC                  362.0  2004.486188  2.848157  1998.0  2003.0
EMBRAER                         293.0  2003.597270  3.480119  1998.0  2001.0
MCDONNELL DOUGLAS               116.0  1989.948276  4.693835  1975.0  1988.0
MCDONNELL DOUGLAS AIRCRAFT CO   103.0  1989.737864  1.644725  1987.0  1988.0

                                                                       ...  \
                                  50%     75%     max   count    mean  ...
manufacturer                                                           ...
AIRBUS                         2007.0  2011.0  2013.0   336.0  2013.0  ...
AIRBUS INDUSTRIE               1999.0  2001.0  2013.0   400.0  2013.0  ...
BOEING                         2000.0  2005.0  2013.0  1630.0  2013.0  ...
BOMBARDIER INC                 2004.0  2006.0  2013.0   368.0  2013.0  ...
EMBRAER                        2003.0  2006.0  2013.0   299.0  2013.0  ...
MCDONNELL DOUGLAS              1989.5  1992.0  1998.0   120.0  2013.0  ...
MCDONNELL DOUGLAS AIRCRAFT CO  1990.0  1991.0  1993.0   103.0  2013.0  ...

                               hour        minute                             \
                                75%   max   count       mean        std  min
manufacturer
AIRBUS                         18.0  23.0   329.0  31.215805  18.028406  0.0
AIRBUS INDUSTRIE               19.0  23.0   397.0  31.964736  18.417541  0.0
BOEING                         17.0  23.0  1623.0  30.624769  18.418021  0.0
BOMBARDIER INC                 15.0  23.0   366.0  30.163934  18.760361  0.0
EMBRAER                        15.0  23.0   299.0  33.030100  18.544408  0.0
MCDONNELL DOUGLAS              18.0  23.0   117.0  31.470085  18.198414  0.0
MCDONNELL DOUGLAS AIRCRAFT CO  15.0  16.0   103.0  31.650485  18.431489  0.0


                                25%   50%   75%   max
manufacturer
AIRBUS                         16.0  31.0  48.0  59.0
AIRBUS INDUSTRIE               17.0  30.0  51.0  59.0
BOEING                         15.0  30.0  48.0  59.0
BOMBARDIER INC                 13.0  30.0  47.5  59.0
EMBRAER                        20.0  32.0  51.0  59.0
MCDONNELL DOUGLAS              19.0  31.0  48.0  59.0
MCDONNELL DOUGLAS AIRCRAFT CO  18.0  33.0  48.0  59.0

[7 rows x 128 columns]

## Flight distance statistics

In [30]:
flights_by_planes['distance'].describe()

,count,mean,std,min,25%,50%,75%,max
manufacturer,,,,,,,,
AIRBUS,336.0,982.017857,710.977649,94.0,431.00,764.0,1183.00,4983.0
AIRBUS INDUSTRIE,400.0,1107.197500,702.439543,94.0,602.25,997.0,1416.00,2586.0
BOEING,1630.0,1045.265644,712.525621,80.0,529.00,937.0,1389.00,4983.0
BOMBARDIER INC,368.0,1053.168478,731.422561,94.0,507.25,944.0,1389.50,4963.0
EMBRAER,299.0,1116.404682,742.835905,116.0,559.50,1005.0,1416.00,4983.0
MCDONNELL DOUGLAS,120.0,1008.025000,789.950817,143.0,430.00,828.0,1336.75,4983.0
MCDONNELL DOUGLAS AIRCRAFT CO,103.0,1022.058252,715.980978,80.0,488.00,762.0,1400.00,2586.0

### Conclusions:
- Planes of `AIRBUS INDUSTRIE` and `MCDONNELL DOUGLAS AIRCRAFT CO` are used for flights <2600 miles
- Planes of `AIRBUS`, `BOEING`, `BOMBARDIER INC`, `EMBRAER`, `MCDONNELL DOUGLAS` are covering around 5000 mi flights

## Flight departure delay statistics

In [31]:
flights_by_planes['dep_delay'].describe()

,count,mean,std,min,25%,50%,75%,max
manufacturer,,,,,,,,
AIRBUS,329.0,10.838906,27.775695,-12.0,-4.0,-1.0,12.0,185.0
AIRBUS INDUSTRIE,397.0,13.876574,38.408522,-14.0,-3.0,0.0,13.0,334.0
BOEING,1623.0,11.256315,39.617697,-15.0,-4.0,0.0,10.0,853.0
BOMBARDIER INC,366.0,5.609290,19.249560,-14.0,-4.0,-1.0,5.0,125.0
EMBRAER,299.0,8.066890,30.068304,-15.0,-4.0,-1.0,5.0,285.0
MCDONNELL DOUGLAS,117.0,15.401709,41.073748,-11.0,-3.0,0.0,10.0,180.0
MCDONNELL DOUGLAS AIRCRAFT CO,103.0,11.912621,28.918108,-17.0,-4.0,0.0,18.5,177.0

### Conclusions:
- About 50% of all flights departs earlier
- `BOEING` has some flight overdelay outlayers

## Flight arrival delay statistics

In [32]:
flights_by_planes['arr_delay'].describe()

,count,mean,std,min,25%,50%,75%,max
manufacturer,,,,,,,,
AIRBUS,329.0,8.136778,32.212558,-65.0,-11.00,4.0,17.0,180.0
AIRBUS INDUSTRIE,395.0,11.200000,42.503425,-60.0,-10.00,2.0,21.0,323.0
BOEING,1608.0,8.662313,44.374864,-63.0,-11.25,1.0,17.0,851.0
BOMBARDIER INC,365.0,-1.271233,24.892855,-70.0,-15.00,-5.0,11.0,138.0
EMBRAER,299.0,6.655518,32.852095,-49.0,-11.00,-1.0,13.0,246.0
MCDONNELL DOUGLAS,117.0,12.264957,45.851596,-43.0,-12.00,0.0,13.0,252.0
MCDONNELL DOUGLAS AIRCRAFT CO,103.0,-1.271845,32.477200,-61.0,-18.00,-6.0,10.0,161.0

### Conclusions:
- 25% of all flights arrive more then 10 minutes earlier
- And 25% of all flights arrive more then 10 minutes later
- `BOEING` has some flight overdelay outlayers